*{
    /*border: 1px solid red;*/
    box-sizing: border-box;;
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    height: 780px;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#placar{
    margin-left: 10px;
    font-size: 20px;
}

#container{
    display: flex;
    height: 720px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 10px;
}

button{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    margin: 5px;
}

button:hover{
    border: 3px solid black;
}

#botoes img{
    height: 200px;
    border: 0px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#pedra{
    display: flex;
    flex-direction: column;
    border: 0px solid rgba(0,0,0,0);
}

